@import "../../../assets/styles/variables";

nav {
  height: 50px;
  width: 100%;
  background-color: $header-background;
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
}

.burger-btn {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;

}
.burger-btn:before {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  background-color: #1a1a1a;
  height: 2px;

}

.burger-btn span {
  position: absolute;
  top: 9px;
  width: 20px;
  background-color: #1a1a1a;
  height: 2px;

}

.burger-btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 20px;
  background-color: #1a1a1a;
  height: 2px;

}



//
//.menu {
//  visibility: hidden;
//  position: absolute;
//  top: 0;
//  left: -100%;
//  display: block;
//  width: 12rem;
//  height: 45%;
//  margin: 0;
//  padding: 7rem 0 0 2rem;
//  color: $header-background;
//  background-color: rgba(0,204,255,.9);
//  font-size: 2rem;
//  z-index: 7;
//  transition: .5s;
//
//  &__overlay {
//    display: block;
//    transition: .5s;
//  }
//
//  &__toggle {
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    overflow: hidden;
//  }
//
//  &__checkbox {
//    width: 40px;
//    height: 40px;
//    display: flex;
//    position: fixed;
//    cursor: pointer;
//    opacity: 0;
//    margin: 0;
//    z-index: 100;
//  }
//
//  &__top, &__center, &__bottom {
//    width: 40px;
//    height: 4px;
//    margin: 4px 0;
//    background: #0cf;
//    border-radius: 4px;
//    transition: all .5s;
//    z-index: 10;
//  }
//
//  &__top {
//    transform-origin: 12px -10px;
//  }
//
//  &__bottom {
//    transform-origin: bottom right;
//  }
//}