@import "src/assets/styles/variables";
@import "src/assets/styles/mixins.scss";

.home-page {
  font-size: 24px;
  color: $main-text;

  //&__container {
  //  @include container
  //}

  &__tree {
    display: flex;
    flex-direction: row;
  }

  & p {
    padding-bottom: 10px;
  }
  
  &__to-go-select {
    font-size: 14px;
    color: $main-text;
    transition: all 0.5s;

    &:hover {
      text-decoration: none;
    }
  }
}

.p-tree {
  width: 300px;
  margin: 20px;
}

.form-demo {
  width: 300px;
  margin: 20px;
}

.text-center {
  padding-bottom: 10px;
}
