@import "src/assets/styles/variables";
@import "src/assets/styles/mixins.scss";

.home-page {
  font-size: 24px;
  color: $main-text;

  &__container {
    @include container
  }


  & p {
    padding-bottom: 10px;
  }
  
  &__to-go-select {
    font-size: 14px;
    color: $main-text;
    transition: all 0.5s;

    &:hover {
      text-decoration: none;
    }
  }
}