@import "src/assets/styles/variables";

.main {
  background-color: $main-background;

  &__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: calc(100vh - 100px - 45px - 40px);
    margin: 0 auto;
    padding: 20px 0;
  }
}