@import "src/assets/styles/variables.scss";

.footer {
  background-color: $header-background;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 45px;
    margin: 0 auto;
  }

  &__github {
    display: block;
    width: 120px;
    height: 45px;
    padding-left: 45px;
    background-image: url(../../assets/images/github.svg);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 45px;
    text-decoration: none;
    color: $second-text;
    transition: .5s;
  }

  &__github:hover {
    cursor: pointer;
    opacity: 0.5;
  }

    &__title {
      color: $second-text;
    }
}
