@import "src/assets/styles/variables.scss";

.header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: $header-background;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }

  &__title {
    color: $second-text;
    font-size: 24px;
    padding-left: 20px;
    transition: all 0.5s;
    text-decoration: none;
  }

  &__title:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}
